
html{cursor: url("./tori.png") 30 30, pointer}

.header{
  font-size: 40px;
  padding: 20px;
  margin: 0 auto;
}

#start {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ddd;
  font-size: 15px;
  margin-left: 20px;
}
.cell {
  display: inline-block; position: relative;
    width: 200px; height: 200px;
    background: 'yellow'; overflow: hidden;
  }
  .gopher, .bomb {
    width: 200px; height: 200px; bottom: 0;
    position: absolute; transition: bottom 1s;
  }
  .gopher {
    background: url('https://littledeep.com/wp-content/uploads/2020/02/littledeep_squirrel_style1.png') center center no-repeat;
    background-size: 200px 200px;
  }
  .dead {
    background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQt2T1F-Z3QXsF0zWT5VrndBZRC9bLZTnJtlw&usqp=CAU') center center no-repeat;
    background-size: 200px 200px;
  }
  .bomb {
    background: url("https://raw.githubusercontent.com/ZeroCho/es2021-webgame/master/bomb.png") center center no-repeat;
    background-size: 200px 200px;
  }
  .boom {
    background: url('https://raw.githubusercontent.com/ZeroCho/es2021-webgame/master/explode.png') center center no-repeat;
    background-size: 200px 200px;
  }
  .hidden {
    bottom: -200px;
  }
  .hole {
    width: 200px; height: 150px; position: absolute; bottom: 0;
    background: url('https://raw.githubusercontent.com/ZeroCho/es2021-webgame/master/mole-hole.png') center center no-repeat;
    background-size: 200px 150px;
  }
  .hole-front {
    width: 200px; height: 30px; position: absolute; bottom: 0;
    background: url('https://raw.githubusercontent.com/ZeroCho/es2021-webgame/master/mole-hole-front.png') center center no-repeat;
    background-size: 200px 30px;
  }