body {
    width: 1920px;
    height:900px;
    background-color:rgb(230, 230, 230);
    text-align: center;

}
button {
    background-color: rgb(166, 166, 166);
    border:none;
    outline:none;
    border-radius:20px;
    -webkit-border-radius:20px;
    -moz-border-radius:20px;
    -ms-border-radius:20px;
    -o-border-radius:20px;
}

.game {
    width: 2000px;
    height:1500px;
    border-radius:20px;
    background: url('./img/background.png') center/cover;
    margin: auto;
    -webkit-border-radius:20px;
    -moz-border-radius:20px;
    -ms-border-radius:20px;
    -o-border-radius:20px;
}

.title {
    display: flex;
    width: 300px;
    font-size: 30px;
}
.header {
    display: flex;
    flex-direction: column;
    width: 200px;
    height:250px;
    border:3px solid rgb(71, 74, 65);
    justify-content: center;
    align-items: center;
    padding: 20px;
    
}
header > button {
    width: 100px;
    height:50px;
    cursor:pointer;
}


.timerBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}

.timer {
    border: 2px solid rgb(64, 83, 89);
    border-radius: 10px;
    width: 100px;
    height: 30px;
    display:flex;
    justify-content: center;
    align-items:center;
    font-size: 20px;
    padding: 20px;
    margin: 10px 10px;
    border-radius:10px;
}

.count {
    border: 3px solid rgb(64, 83, 89);
    border-radius: 50%;
    width: 80px;
    height: 80px;
    display:flex;
    justify-content: center;
    text-align: center;
    font-size: 80px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.background {
    /* background-color: aqua; */
    position:relative;
    width: 2000px;
    height: 1000px;
    margin-top: 400px;
}

.popUpBox {
    display:block;
    background-color:rgb(73, 73, 73);
    opacity: 0.5;
    margin: auto;
    transform: translateY(-650%);
    width: 500px;
    height:250px;
    -webkit-transform: translateY(-650%);
    -moz-transform: translateY(-650%);
    -ms-transform: translateY(-650%);
    -o-transform: translateY(-650%);
    visibility: hidden;
}

.popUpBox > button {

width: 50px;
height: 50px;
margin-top: 20px;
cursor:pointer;
}

.popMsg {
    /* display:block; */
    font-size: 50px;
    color:rgb(255, 249, 249);
}