body {
    
    width: 1920px;
    height:900px;
    background-color:rgb(230, 230, 230);
    text-align: center;
    
}

.container {
    width:100%;
    height:100%;
    /* z-index: 50; */
}

button {
    background-color: rgb(166, 166, 166);
    border:none;
    outline:none;
    border-radius:20px;
    -webkit-border-radius:20px;
    -moz-border-radius:20px;
    -ms-border-radius:20px;
    -o-border-radius:20px;
    z-index: 20;

}

.game {
    width: 2000px;
    height:1500px;
    border-radius:20px;
    background: url('./img/background.png') center/cover;
    margin: auto;
    -webkit-border-radius:20px;
    -moz-border-radius:20px;
    -ms-border-radius:20px;
    -o-border-radius:20px;
}

.title {
    display: flex;
    width: 300px;
    font-size: 30px;
}
.header {
    display: flex;
    flex-direction: column;
    width: 200px;
    height:250px;
    /* border:3px solid rgb(71, 74, 65); */
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 50px;
    
}
header > button {
    width: 100px;
    height:50px;
    cursor:pointer;
}


.timerBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}

.timer {
    border: 2px solid rgb(64, 83, 89);
    border-radius: 10px;
    width: 100px;
    height: 30px;
    display:flex;
    justify-content: center;
    align-items:center;
    font-size: 20px;
    padding: 20px;
    margin: 10px 10px;
    border-radius:10px;
}

.count {
    /* border: 3px solid rgb(64, 83, 89); */
    border-radius: 50%;
    width: 80px;
    height: 80px;
    display:flex;
    justify-content: center;
    text-align: center;
    font-size: 80px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.background {
    /* background-color: aqua; */
    position:relative;
    width: 2000px;
    height: 1000px;
    margin-top: 400px;
    z-index: 10;
}
.background:hover{
    cursor: url('./img/Target.png')30 30, pointer;
}

.popUpBox {
    display:block;
    background-color:rgb(73, 73, 73);
    opacity: 1;
    margin: auto;
    margin-top: 150px;
    transform: translateY(-650%);
    width: 700px;
    height:250px;
    -webkit-transform: translateY(-650%);
    -moz-transform: translateY(-650%);
    -ms-transform: translateY(-650%);
    -o-transform: translateY(-650%);
    visibility: hidden;
    border-radius:20px;
    -webkit-border-radius:20px;
    -moz-border-radius:20px;
    -ms-border-radius:20px;
    -o-border-radius:20px;
}

.popUpBox > button { 
    width: 50px; 
    height: 50px; 
    margin-top: 50px; 
    cursor:pointer; 
    
    
}

.popMsg {
    font-size: 50px;
    color:rgb(255, 249, 249);
    margin-top: 20px;
}

