body {
    background-color:rgb(230, 230, 230);
    text-align: center;

}
button {
    background-color: rgb(166, 166, 166);
    border:none;
    outline:none;
    border-radius:20px;
    -webkit-border-radius:20px;
    -moz-border-radius:20px;
    -ms-border-radius:20px;
    -o-border-radius:20px;
}

.game {
    width:1200px;
    height:800px;
    border-radius:20px;
    background: url('./img/background.png') center/cover;
    margin: auto;
    -webkit-border-radius:20px;
    -moz-border-radius:20px;
    -ms-border-radius:20px;
    -o-border-radius:20px;
}

.title {
    display: flex;
    width: 300px;
    font-size: 30px;
}
.header {
    display: flex;
    flex-direction: column;
    width: 200px;
    height:250px;
    border:3px solid rgb(71, 74, 65);
    justify-content: center;
    align-items: center;
    padding: 20px;
    
}
header > button {
    width: 100px;
    height:50px;
    cursor:pointer;
}


.timerBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.timer {
    border: 2px solid rgb(64, 83, 89);
    border-radius: 10px;
    width: 100px;
    height: 30px;
    display:flex;
    justify-content: center;
    align-items:center;
    font-size: 50px;
    padding: 20px;
    margin: 10px 10px;
    border-radius:10px;
}

.count {
    border: 3px solid rgb(64, 83, 89);
    border-radius: 50%;
    width: 80px;
    height: 80px;
    display:flex;
    justify-content: center;
    text-align: center;
    font-size: 80px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.background {
    width: 100%;
    height: 100%;
}

.popUpBox {
    display:block;
    background-color:rgb(255, 255, 255);
    opacity: 0.5;
    margin: auto;
    transform: translateY(-150%);
    width: 300px;
    height:150px;
    -webkit-transform: translateY(-150%);
    -moz-transform: translateY(-150%);
    -ms-transform: translateY(-150%);
    -o-transform: translateY(-150%);
}

.popUpBox > button {

width: 50px;
height: 50px;
margin-top: 20px;
cursor:pointer;
}

.endMessage {
    display:block;
    font-size: 50px;
}

.popUpBox-hide {
    display: none;
}